    <!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset='utf-8' />
    <title>End2End-Test</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
</head>
<body>
	<h1>Testbed</h1>

	<div ng-controller="TestController" class="container">
		<div class="row">
            <div class="col-md-2">
                Socket Url:
            </div>
            <div class="col-md-4">
                    <input type="text" ng-model="wsurl" class="form-control" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" ng-class="{ 'disabled' : connected}" ng-click="connect()">connect</button>
                <button class="btn btn-danger"  ng-class="{ 'disabled' : !connected}" ng-click="disconnect()">disconnect</button>
            </div>
        </div>
		
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
        <span ng-hide="connected">Not</span>
            connected    
        </div>
            </div>
        <div class="row">
            <div class="col-md-2">
                Message:
            </div>
            <div class="col-md-4">
                   <input type="text" ng-model="msg" placeholder="Type Message" class="form-control" />
            </div>
            <div class="col-md-4">
                 <button class="btn btn-info" ng-click="send()">send</button>
            </div>
        </div>
             <div class="row">
            <div class="col-md-8">
                <pre  ng-bind="log" class="pre-scrollable">loading angular...</pre>
            </div>
     </div>
	
	</div>
	
	<script src="../../../target/ng-gwt-websock-0.0.1-SNAPSHOT/ng.gwt.websock/angular.min.js"></script>
	<script src="../../../target/ng-gwt-websock-0.0.1-SNAPSHOT/ng.gwt.websock/ng.gwt.websock.nocache.js"></script>
	<script src="../../../target/ng-gwt-websock-0.0.1-SNAPSHOT/ng.gwt.websock/angulargwt.min.js"></script>
	<script type="text/ecmascript">
		angular.module("wstest",["websock"])
		.controller("TestController",['$scope','websocket',function($scope,websocket) {
			$scope.wsurl = "wss://echo.websocket.org";
			$scope.log ="";
            $scope.connected = false;
            
			var id = "mysocket";
						
			var onOpen= function() {
                $scope.connected = true;
                log("connected!\n");
			};
            
			var onClose= function() {
                $scope.connected = false;
                log("closed!\n");
            };
			
            var onMessage= function(msg) { 
					log("got message " + msg + "\n");
			};
			
			var log = function(text) { 
				$scope.log +=text;
				if ($scope.$root.$$phase != '$apply' && $scope.$root.$$phase != '$digest') {
                    $scope.$apply();
                }
			};
			
            $scope.connect = function() {
                log("connecting...\n");
                websocket.connectWithId($scope.wsurl,id);
                websocket.onOpen(id,onOpen);
                websocket.onMessage(id,onMessage);
			    websocket.onClose(id,onClose);
            }
            
            $scope.disconnect = function() {
                websocket.close(id);
            }
            
            $scope.send = function() {
                log("sending " + $scope.msg + "...\n");
                websocket.send(id,$scope.msg);
            }
            
		}]);
		
		angulargwt("wstest");
	</script>
</body>
</html>